@charset "UTF-8";
* {
  font-family: 'Andale Mono','微軟正黑體', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.font-bold {
  font-weight: bold;
}

.mr-24 {
  margin-right: 24px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-22 {
  margin-bottom: 22px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-72 {
  margin-bottom: 72px;
}

.container-fluid {
  padding-top: 48px;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.container {
  width: 1200px;
  height: auto;
  margin: 0 auto;
}

.container h1 {
  width: 288px;
  height: auto;
  font-size: 80px;
  word-wrap: break-word;
  line-height: 90px;
  margin-bottom: 24px;
}

.container .divider {
  width: 100%;
  height: 2px;
  background-color: #000;
}

.title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  line-height: 45px;
  margin-bottom: 8px;
}

.title-container .title {
  font-size: 32px;
  margin-right: 16px;
}

.title-container .subtitle {
  font-size: 24px;
  color: #A00404;
}

.text-container {
  position: relative;
}

.text-container:not(.profile):before {
  content: '';
  width: 1px;
  height: 68px;
  background-color: #96A9C4;
  position: absolute;
  left: 24px;
  top: 12px;
}

.text-container > :nth-child(n):before {
  content: "";
  width: 16px;
  height: 16px;
  background-color: #96A9C4;
  position: absolute;
  left: 16px;
  top: 9px;
  border-radius: 50%;
}

.text-container.profile > :last-child:before {
  display: none;
}

.text-container .text {
  position: relative;
  padding-left: 48px;
  line-height: 36px;
  font-weight: 400;
}

.img-container {
  width: 324px;
  height: 324px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 55px;
}

.img-container img {
  display: block;
  width: auto;
  max-height: 100%;
}

.skill-container {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #415165;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding: 24px 102px 56px 102px;
}

.skill-container .subtitle {
  color: #fff;
}

.skill-container .divider {
  width: 100%;
  height: 1px;
  background-color: #fff;
}

.skill-container:before {
  content: '';
  width: 100vw;
  height: 360px;
  background-color: #96A9C4;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -10;
}

.skill-content {
  border-left: 1px solid #96A9C4;
  padding-left: 24px;
  width: 666px;
  height: auto;
}

.skill-content .text {
  line-height: 36px;
  font-weight: 200;
}

.skill-content .describe-text {
  line-height: 30px;
  font-weight: 200;
  font-size: 20px;
}

footer .container-fluid {
  background-color: #415165;
  color: #fff;
}

footer .container-fluid .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding: 24px 0 48px 0;
}

footer .container-fluid .container .subtitle {
  color: #fff;
}

footer .container-fluid .container .divider {
  width: 100%;
  height: 1px;
  background-color: #fff;
}

footer .container-fluid .container .text {
  line-height: 36px;
  font-weight: 200;
}
/*# sourceMappingURL=style.css.map */