$main-color:#96A9C4;
$secondary-color: #415165;
$white-color: #fff;
$subtitle-color: #A00404;
$black-color:#000;

@mixin size($width,$height:auto,$bgcolor:transparent,$color:inherit) {
    width:$width;
    height:$height;
    background-color: $bgcolor;
    color:$color;
}

@mixin posAbs($left,$top) {
    position: absolute;
    left: $left;
    top: $top;
}

@mixin dflex($justifyContent:start,$alignItems:start,$direction:row) {
    display: flex;
    flex-direction: $direction;
    align-items: $alignItems;
    justify-content: $justifyContent;
}

*{
    // outline: 1px solid #000;
    font-family: 'Andale Mono','微軟正黑體';
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.font-bold{
    font-weight: bold;
}
.mr-24{
    margin-right: 24px;
}
.mb-8{
    margin-bottom: 8px;
}
.mb-40{
    margin-bottom: 40px;
}
.mb-22{
    margin-bottom: 22px;
}
.mb-48{
    margin-bottom: 48px;
}
.mb-16{
    margin-bottom: 16px;
}
.mb-24{
    margin-bottom: 24px;
}
.mb-32{
    margin-bottom: 32px;
}
.mb-72{
    margin-bottom: 72px;
}

.container-fluid{
    padding-top: 48px;
    @include size(100%);
    overflow: hidden;
}
.container{
    @include size(1200px);
    margin: 0 auto;
    h1{
        @include size(288px);
        font-size: 80px;
        word-wrap: break-word;
        line-height: 90px;
        margin-bottom: 24px;
    }
    .divider{
        @include size(100%,2px,$black-color); 
    }   
}

.title-container{
    @include  dflex(start,center);
    line-height: 45px;
    margin-bottom: 8px;
    .title{
        font-size: 32px;
        margin-right: 16px;
    }
    .subtitle{
        font-size: 24px;
        color:$subtitle-color;
    }
}

.text-container{
    position: relative;
    &:not(.profile):before{
        content: '';
        @include size(1px,68px,$main-color);  //(第一個元素36+32)
        @include posAbs(24px,12px); //left(圓的半徑+圓的paddingLeft)
    }
    & > :nth-child(n):before{
        content: "";
        @include size(16px,16px,$main-color);
        @include posAbs(16px,9px);    
        border-radius: 50%;
    }
    &.profile > :last-child:before{
        display: none;
    }
    .text{
        position: relative;
        padding-left: 48px;
        line-height: 36px;
        font-weight: 400; 
    }
}

.img-container{
    @include size(324px,324px);
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 55px;
    img{
        display: block;
        width: auto;
        max-height: 100%;
    }
}

.skill-container{
    position: relative;
    @include size(100%,auto,$secondary-color,$white-color);
    @include dflex(start,center,column);
    padding: 24px 102px 56px 102px;
    .subtitle{
        color:$white-color;
    }
    .divider{
        @include size(100%,1px,$white-color);
    }   
    &:before{
        content: '';
        @include size(100vw,360px,$main-color);
        @include posAbs(50%, 50%);    
        transform: translate(-50%, -50%);
        z-index: -10;
    }
}

.skill-content{
    border-left: 1px solid $main-color;
    padding-left:24px;
    @include size(666px);
    .text{
        line-height: 36px;
        font-weight: 200;
    }
    .describe-text{
        line-height: 30px;
        font-weight: 200;
        font-size: 20px;
    }
}

footer{
    @include size(100%,auto, $secondary-color,$white-color);
    .container{
        @include dflex(start,center,column);
        padding: 24px 0 48px 0;
        .subtitle{
            color: $white-color;
        }
        .divider{
            @include size(100%,1px,$white-color);
        }
        .text{
            line-height: 36px;
            font-weight: 200;
        }  
    }
}