<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 作業week-1
        link(rel="stylesheet", href="../scss/style.css")
    body
        .container-fluid
            section.container
                h1 Joanne Chen
                .divider.mb-48 
                .img-container
                    img(src="../img/photo.png", alt="")
            section.container
                .title-container
                    span.title 個人資料
                    span.subtitle PROFILE
                .divider.mb-16
                .text-container.profile
                    h2.text.mb-24 
                        | 陳久安 Joanne Chen 
                        br
                        | 1997-
                        br 
                        | 應屆畢業生／接案設計師／UI 設計實習生 
                    h2.text.mb-72 
                        | UI 設計修行中／立志當斜槓青年
                        br
                        | 獨立接案，內容涵蓋： 
                        br
                        | 品牌規劃、視覺設計、編輯設計、標準字、物件及印刷品設計等。
            section.container
                .title-container
                    span.title 學歷
                    span.subtitle EDUCATION
                .divider.mb-16
                .text-container 
                    h2.text.mb-32
                        | 國立六角師範大學 視覺設計學系 學士學位 | 2016－2020
                    h2.text.mb-72
                        | 國立六腳高級中學 美術班 | 2013－2016
                .skill-container.mb-72
                    .title-container
                        span.title 技能
                        span.subtitle SKILLS
                    .divider.mb-40
                    .skill-content
                        h2.text Adobe Photoshop
                        h2.text Adobe Illustrator
                        h2.text Adobe XD
                        h2.text Adobe Indesign
                        h2.text C4D
                        h2.text Adobe Premiere
                        h2.text 語言：中文、英文
            section.container
                .title-container
                    span.title 工作經驗
                    span.subtitle WORK EXPERIENCE
                .divider.mb-22
                .skill-content.mb-72
                    h2.text.mb-8
                        b 六角學院 視覺設計實習生 | 2019/07－2020/06
                    img.mb-8(src="../img/logo.svg", alt="")
                    p.describe-text.mb-32 在六角學院長達一年的實習中，前期藉由公司課程掌握 HTML, CSS, Adobe XD，設計給學員使用的名片設計教材，並參與六角週年活動，設計各式周邊商品及活動網路宣傳圖。後期進入 UI 設計範疇，設計六角共筆部落格 - W3HexSchool、六角發案服務網介面設計、供給學員的教 案- RWD官方網站設計，並設計各式網頁活動宣傳圖。
                    h2.text.mb-32
                        b 獨立接案 Hao Jun 酒標設計 | 2019
                    h2.text.mb-32
                        b 獨立接案 Exulans 酒標設計 | 2019
                    h2.text.mb-32
                        b 獨立接案 桃園平鎮市民健走活動提案 | 2019
                    h2.text.mb-8
                        b Simtree 興趣咖啡 工讀生 | 2018－2019
                    img.mb-8(src="../img/treelogo.png", alt="")
                    p.describe-text.mb-72 擔任外場及吧台服務生，學習咖啡相關知識。
        footer
            section.container
                .title-container.mb-8
                    span.title 聯絡方式
                    span.subtitle CONTACT METHOD
                .divider.mb-32
                h2.text.mb-16 Mail：xxxd@hexschool.com
                h2.text.mb-16 Phone：0910123456
                h2.text.mb-16 Kaohsiung, Taiwan
                h2.text.mb-16 作品連結：https://www.behance.net/xxxdddddd
                .contact-container
                    img.mr-24(src="../img/facebook.svg", alt="")
                    img.mr-24(src="../img/instagram.svg", alt="")
                    img(src="../img/line.svg", alt="")


